<div class="topnav">
    <a class="" href="{% url 'home' %}">Home</a>
    <a href="{% url 'upload' %}">Upload</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
</div>




{% comment %} <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>
</nav> {% endcomment %}



{% comment %} <section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                What's the weather like?
            </h1>
        </div>
    </div>
</section> {% endcomment %}