{% extends 'index.html' %}
{% block content %}

<div class="banner">
    <h1>Weather Condition Search</h1>
    <p>Here are your results for {{ query }} </p>
    {% comment %} <small>Up to date weather for 250 cities in the US!</small> {% endcomment %}
</div>
<section class="section">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                <form method="GET" action='{% url "weather_search" %}'>
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input type="text" class="input" placeholder="Search Weather Condition" aria-label="" aria-describedby="" name="query" value="{{ request.GET.query }}">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-info">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</section>
<section class="section">
    
        <div class="columns">
            <div class="column is-offset-4 is-4">
                
                {% for city in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ city.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ city.temperature }}° F</span><br>
                                        <span class="subtitle">{{ city.wind }}</span>
                                        <br> {{ city.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
            
        </div>
        <div class="pag">
            <ul class="pagination nav navbar-nav">
                {% if cities.has_previous %}
                    <li><a href="?page={{ cities.previous_page_number }}">Prev</a></li>
                {% endif %}
                {% for page in cities.paginator.page_range %}
                    <li class="{% if cities.number == page  %}active{% endif %}"><a href="?page={{page }}">{{ page }}</a></li>
                {% endfor %}
            
                {% if cities.has_next %}
                    <li> <a href="?page={{ cities.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </div>
    
</section>
{% endblock %}